name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag lidorlg/lidor-python-flask:$(date +%F)-${{ github.run_number }}
    - name: docker login
      run: docker login -u ${{ secrets.DOCKER_HUB_USER }} -p ${{ secrets.DOCKER_HUB_PASS }}
    - name: docker push
      run: |
        docker push lidorlg/lidor-python-flask:$(date +%F)-${{ github.run_number }}
        docker tag lidorlg/lidor-python-flask:$(date +%F)-${{ github.run_number }} lidorlg/lidor-python-flask:latest
        docker push lidorlg/lidor-python-flask:latest
        echo "the variable is:  ${{ vars.COURSE }}"
